
.liNeon:hover{
    clip-path: polygon(100% 0, 100% 55% , 90% 100% , 0 100% , 0 0);
    background: #0CFFE1;
    text-shadow:0 0 10px #272760, 
                0 0 20px #ED1E79,
                0 0 30px #442768,
                0 0 100px #272760;
    color: #E0D9F6;
    border-left: 5px solid #ED1E79;
    border-bottom: 3px solid #ED1E79;
}

.active{
    clip-path: polygon(100% 0, 100% 55% , 90% 100% , 0 100% , 0 0);
    background: #0CFFE1;
    text-shadow:0 0 10px #272760, 
                0 0 20px #ED1E79,
                0 0 30px #442768,
                0 0 100px #272760;
    color: #E0D9F6;
    border-left: 5px solid #ED1E79;
    border-bottom: 4px solid #ED1E79;
}
